@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@font-face {
    font-family: "RingbearerMedium-51mgZ";
    src: local("RingbearerMedium-51mgZ"), url("./RingbearerMedium-51mgZ.ttf") format("woff");
}

:root {
    --bg: #404040;
    --accent: #c57001;
    --dark-accent: #a40606;
    --green: #4caf50;
    --font: #b9b9b9;
    font-family: "Ubuntu", sans-serif;
}
body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.app-title {
    font-family: "RingbearerMedium-51mgZ", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to top, var(--dark-accent), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3em;
}
.app-title img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.tac {
    text-align: center;
}
.fwb {
    font-weight: bold;
}
.chat-container {
    background-color: var(--dark-accent);
    background-image: linear-gradient(360deg, var(--dark-accent) 0%, var(--accent) 74%);
    width: 50vw;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.message-users-container {
    display: flex;
    flex-direction: row;
    height: calc(70vh - 60px);
}

.messages {
    flex: 75%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.msg-left {
    align-self: flex-start;
}

.msg-right {
    align-self: flex-end;
}
.users {
    flex: 25%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.input-container {
    display: flex;
    flex-direction: column;
    height: 60px;
}
.icon-online {
    color: var(--green);
    padding: 5px;
}
input,
button {
    margin-top: 5px;
}
#username,
#message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg);
    border: 1px solid #444444;
    color: var(--font);
}

#send-btn {
    padding: 10px;
    background-color: var(--accent);
    color: var(--font);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#send-btn:hover {
    filter: grayscale(0.2);
    background-color: var(--accent);
}

.msg {
    padding: 5px 15px;
    margin-bottom: 5px;
    background-color: var(--dark-accent);
    max-width: 200px;
    width: fit-content;
    word-break: break-word;
    border-radius: 10px;
    color: var(--font);
}

.msg .sender {
    font-weight: bold;
}
